
body{
    height: 100%;
    background-image: linear-gradient(#97D3FF, #E5F4FF);
    background-size: cover;
    background-repeat: no-repeat;
}

.bodyNight{
    height: 100%;
    background-image: linear-gradient( #01010C, #01010B);
    background-size: cover;
    background-repeat: no-repeat;
}

/* TODO: Add night mode formatting classes */

#logo{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.homeIcon{
    cursor: pointer;
    color: #00396D;
}

.homeIconActive{
    cursor: pointer;
    color: #0D84F1;
}

.homeIconNight{
    cursor: pointer;
    color: #E9EDFA;
}

.homeIconNightActive{
    cursor: pointer;
    color: #FFFCE5;
}

.icon {
    cursor: pointer;
    color: #0D84F1;
}

.iconNight{
    color: #E9EDFA;
}

.vinylIcon{
    cursor: pointer;
    color: black;
}

.vinylIconNight{
    cursor: pointer;
    color: #fffccf;
}

/* titleFontBig */
h1 {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #00396D;
}

.h1Night{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #E9EDFA;
}

.h1OffColourDay{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #0D84F1;
}
/* mainFontBig */
h2 {
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #00396D;
}

.h2Night{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #FFFCE5;
}
/* titleFont */
h3 {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #00396D;
}

.h3Night{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFCE5
}

/* titleFontBold */
.h3Bold{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #00396D;
}

.h3BoldNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #E9EDFA;
}

label{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color:#00396D;
}

.labelNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color:#FFFCE5;
}

.navLink{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #00396D;
    display: inline-flex;
}


.navLinkDayActive{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #0D84F1;
}

.navLinkNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #E9EDFA;
}

.navLinkNightActive{

    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFCE5;
}

a {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #0D84F1;
}

.aNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #E9EDFA;
}

.footerLink{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #00396D;
}

.footerLinkNight{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #E9EDFA;
}


/* titleFontSmall */
h4 {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #00396D;
}

/* mainFont */
p {
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #00396D;
}

.pNight{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #FFFCE5;
}

.pOffColour{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #0D84F1;
}

.pOffColourNight{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #E9EDFA;
}

#twitchEmbed{
    display: none;
}

#subHeroCopyNight{
    display: none;
}

#subHeroVidNight{
    display: none;
}

#instaIcon{
    cursor: pointer;
}

#twitchIcon{
    cursor: pointer;
}

#ytIcon{
    cursor: pointer;
}