
/* TODO: Font inheritance */

html{
    font-size: calc(1em + 1vw);
}
/* TODO: Inheritance */
/* TODO: Reformatting */

.iconify{
    font-size: 4vh;
    vertical-align: middle;
}

body{
    height: 300vh;
    background-image: linear-gradient(#97D3FF, #E5F4FF);
    background-size: cover;
    background-repeat: no-repeat;
}

.bodyNight{
    height: 300vh;
    background-image: linear-gradient( #01010C, #01010B);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    height: 10vh;
    background-color: #97D3FF;
    /* overflow: hidden; */
    position: fixed;
    margin-top:1%;
    margin-left: 50%;
    margin-right: 50%;;
    transform: translate(-50%,-50%);
    display: inline-flex;
    justify-content: space-between;

}

.navNight{
    background-color: #01010C;
    overflow: hidden;
    position: fixed;
    margin-top: 1%;
    margin-left: 50%;
    margin-right: 50%;;
    transform: translate(-50%,-50%);
    display: inline-flex;
    justify-content: space-between;
}

.dropbtn {
    background-color: transparent;
    color:#00396D;
    font-size: inherit;
    font-family: inherit;
    border: none;
    margin-top: 3vh;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdownContent a:hover {background-color: #ddd;}

.dropdown:hover .dropdownContent {display: block; margin-top: 10vh;}

.dropdown:hover .dropbtn {background-color: #eee;}

#hero{
   height: 60vh; 
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#player{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#subHero{
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#signUp{
    height: 150vh;
    width: 70vw;
    display: block;
    margin: auto;
}

#signUpTitle{
    height: 12vh;
    width: 20vw;
    display: block;
    margin: auto;
    margin-bottom: 2vh;
    text-align: center;
}

#signUpCopy{
    height: 20vh;
    display: block;
    margin: auto;
    text-align: center;
}

#signUpForm{
    height: 70vh;
    display:block;
    text-align: center;
}

#signUpFormTitle{
    height: 5vh;
    text-align:center;
}

.signUpInput{
    display:block;
    margin:auto;
    height: 4vh;
    width: 30vw;
    font-size: inherit;
    font-family: inherit;
}

.signUpFormButton{
    display: block; 
    margin: auto;
    height: 9vh;
    width: 9vw;
    font-size: inherit;
    font-family: inherity
}

#subToMailCopy{
    height: 7vh;
    display:block;
    margin: auto;
    text-align: center;
}

#contactLinkCopy{
    height: 17vh;
    text-align: center;
}

#acceptTermsLabel{
    display: block;
    margin: auto;
    text-align: center;
}

#footer
{
    height: 40vh;
    display: block;
}

#footerLinks{
    margin-left: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#communityLinks{
    margin: 10px;   
    display: block;
    justify-content: center;
}

#studioLinks{
    margin: 10px;
    justify-content: center;
}

#socialLinks{
    
    display: block;
    justify-content: center;
}

#socialLinks{
    margin-left: 75%;
    height: 1%;
    display: inline-flex;
    align-content: center;
    justify-content: center;
}

#tAndCsLink{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 3vh;
    text-align: center;
}
/* Add night mode formatting classes */

#logo{
    height: 4.5vh;
    width: 2.5vw;
    cursor: pointer;
    margin-top: 3.5vh;
    min-width:40px;
    min-height:40px;
}

.homeIcon{
    margin-top: 3.5vh;
    cursor: pointer;
    color: #00396D;
}

.homeIconActive{
    margin-top: 3.5vh;
    cursor: pointer;
    color: #0D84F1;
}

.homeIconNight{
    margin-top: 3.5vh;
    cursor: pointer;
    color: #E9EDFA;
}

.homeIconNightActive{
    margin-top: 3.5vh;
    cursor: pointer;
    color: #FFFCE5;
}

.icon {
    cursor: pointer;
    color: #0D84F1;
    /* TODO: center in container responsively */
    margin-top: 40px;
}

.iconNight{
    color: #E9EDFA;
    margin-top: 40px;
}

.vinylIcon{
    margin-top: 3.5vh;
    cursor: pointer;
    color: black;
}

.vinylIconNight{
    margin-top: 3.5vh;
    cursor: pointer;
    color: #fffccf;
}

/* titleFontBig */
h1 {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #00396D;
}

.h1Night{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #E9EDFA;
}

.h1OffColourDay{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #0D84F1;
}
/* mainFontBig */
h2 {
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #00396D;
}

.h2Night{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #FFFCE5;
}
/* titleFont */
h3 {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #00396D;
}

.h3Night{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFCE5
}

/* titleFontBold */
.h3Bold{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #00396D;
}

.h3BoldNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #E9EDFA;
}

label{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color:#00396D;
}

.labelNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color:#FFFCE5;
}

.navLink{
    margin-top: 2.5vh;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #00396D;
    display: block;
    float: left;
    text-align: center;
    padding: 0.4rem;
    text-decoration: none;
}

.navLinkDayActive{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #0D84F1;
}

.navLinkNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #E9EDFA;
}

.navLinkNightActive{

    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFCE5;
}

.navButton{
    margin-top: 2.5vh;
    height: 6vh;
    width: 5vw;
    font-size: 0.65em;
    font-family: inherit;
}

a {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #0D84F1;
}

.aNight{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #E9EDFA;
}

.footerLink{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #00396D;
    float: right;
    display: block ;

}

.footerLinkNight{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #E9EDFA;
}


/* titleFontSmall */
h4 {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #00396D;
}

/* mainFont */
p {
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #00396D;
}

.pNight{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #FFFCE5;
}

.pOffColour{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #0D84F1;
}

.pOffColourNight{
    font-family: 'Gowun Dodum', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #E9EDFA;
}

#twitchEmbed{
    display: none;
}

#subHeroCopyDay{
    margin-top: 20vh;

}


#subHeroCopyNight{
    margin-top: 2vh;
    display: none;

}

#heroVid{
    margin-top: 10vh;
    height: 36vh;
    width: 64vw;
    /* margin-bottom: 2vh; */
}

#subHeroVidNight{
    display: none;

}

#subHeroVidDay{
    height: 30vh;
    width:  22.5vw;
    margin-top: 2vh;
    margin-left: 5vw;
}

#instaIcon{
    cursor: pointer;
}

#twitchIcon{
    cursor: pointer;
}

#ytIcon{
    cursor: pointer;
}

/* Portfolio  */

#projects{
    
    display: inline-grid;
    grid-template-columns: 4;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 50vw;
  
    transform: translate(-50%,-50%);

}

.projectImage{
    width: 100px;
    height: 100px;
}

#TidalCycles{
    grid-column-start: 1;
    grid-column-end: 1;
}

#SuperCollider{
    grid-column-start: 2;
    grid-column-end: 2;
}

#Sampler{
    grid-column-start: 3;
    grid-column-end: 3;
}

#Hydra{
    grid-column-start: 4;
    grid-column-end: 4;
}

#portfolioTitle{
    display: flex;
    justify-content: center;
}

.profileLink{
    font-family: 'Archivo', sans-serif;
    font-size: 22px;
    color:white;
    display: flex;
    justify-content: center;
}

#welcomeSection{
    height:100vh;
}

.slider {
    width: 69vw;
    text-align: center;
    overflow: hidden;
    display:block;
    margin:auto;
    padding: 20px;
}
  
.slides {
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
width: 10px;
height: 10px;
}
.slides::-webkit-scrollbar-thumb {
background: #0D84F1;
border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
background: transparent;
}
.slides > div {
scroll-snap-align: start;
flex-shrink: 0;
width: 69vw;
height: 69vh;
margin-right: 50px;
border-radius: 10px;
background: #eee;
transform-origin: center center;
transform: scale(1);
transition: transform 0.5s;
position: relative;

display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
}

.slider > a:active {
top: 1px;
}
.slider > a:focus {
background:#0D84F1;
}

.slideContent{
    display:flex;
    flex-direction: column;
}
.slideContent > h1 {
    color: black;
    justify-content: center;
}

.slideContent > p {
    font-size: 18px;
    text-align: center;
}

.slideContent > a {
    font-size: 20px;
    color: black;
}


/* TODO: Responsiveness upto 4K */


@media screen and (min-width: 1919px) /*and (max-width: 3840px)*/ 
{

 
    
}
/* Monitors */
@media screen and (min-width: 1580px) and (max-width: 1920px) {
/* TODO:  */
}
/* Desktops */
@media screen and (max-width: 1579px) and (min-width: 1280px) {
/* TODO */
}
/* Laptops */
@media screen and (max-width: 1279px) and (min-width: 769px) {
/* TODO */
}
/* Tablets */
@media screen and (max-width: 768px) and (min-width: 481px) {
/* TODO */
}
/* Phones */
@media screen and (max-width: 480px) {
/* TODO */

}